
.project {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .project-img {
    display: block;
  
    width: 100%;
    height: 100%;
    z-index: 9999;
    box-shadow: 10px 10px 5px #ccc;
        -moz-box-shadow: 10px 10px 5px #ccc;
        -webkit-box-shadow: 10px 10px 5px #ccc;
        -khtml-box-shadow: 10px 10px 5px #ccc;
  }
  
  .image {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
  }
  
  .image:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .btn{
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 992px) {
    .project-detials,
    .project-pic {
      flex: unset;
      width: 100% !important;
      display: block !important;
      max-width: unset;
    }
  }