.nav-menu {
  text-align: center;
  position: fixed;
  bottom: 50%;
  right: 5%;
  width: 150px;
  background-color: #282c34;
  border-radius: 0.75rem;
  z-index: 999;
}

.nav-item {
  text-align: center;
  height: 50px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.75rem;
}

a.active > .nav-item {
  background-color: #ff6600 !important;
}

.nav-item :hover .title {
  color: rgb(129, 125, 131);
}

.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------hamburger icon------------------------------------------- */
.hamburger-menu {
  text-align: center;
  position: fixed;
  bottom: 60%;
  right: 1%;
}

* {
  margin: 0;
  padding: 0;
}

#hamburger-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #ff6600;

  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2),
#hamburger-icon span:nth-child(3) {
  top: 18px;
}

#hamburger-icon span:nth-child(4) {
  top: 36px;
}

#hamburger-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media screen and (max-width: 1300px) {
  .nav-menu {
    right: 6%;
    width: 130px;
  }
}

@media screen and (max-width: 1100px) {
  .nav-menu {
    right: 7%;
  }
}

@media screen and (max-width: 900px) {
  .nav-menu {
    right: 8%;
    width: 130px;
  }
}

@media screen and (max-width: 850px), screen and (max-height: 560px) {
  .navbar {
    text-align: -webkit-right;
    overflow: hidden;
    display: block;
    position: unset;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 999;
    min-height: 55px;
  }

  .sticky {
    position: fixed !important;
    top: 0;
  }

  /*---------------------------------hamburger icon--------------------------------------------------------*/
  .hamburger-menu {
    position: unset !important;
    right: 0;
    left: 0;
    bottom: unset;
    float: right;
    position: absolute;
    top: 0;
    margin: 5px 15px 5px 15px;
  }
  #hamburger-icon {
    float: right;
  }

  /*--------------------------------------menu---------------------------------------------------*/

  .nav-menu {
    text-align: center;
    position: relative;
    right: 0%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 60px;
  }

  /*
    -----------------------------------------------------------------------------------------
  } */

  #hamburger-icon {
    width: 50px;
    height: 40px;
    margin: 0;
  }

  #hamburger-icon span {
    height: 5px;
  }

  #hamburger-icon span:nth-child(1) {
    top: 0px;
  }

  #hamburger-icon span:nth-child(2),
  #hamburger-icon span:nth-child(3) {
    top: 14px;
  }

  #hamburger-icon span:nth-child(4) {
    top: 28px;
  }
}
