.skills {
  padding-top: 50px;
  padding-bottom: 80px;
}

.skills-title {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 72px;
  color: #333;
  margin-bottom: 30px;
}

.skill {
  margin-bottom: 20px;
}
.skill-name {
  font-family: "Muli", sans-serif;
  font-size: 18px;
}

.skill-progress {
  padding-top: 5px;
}

.progress {
  border-radius: 1rem;
  height: "25px";
  width: 100% !important;
  background-color: #e0e0e0;

  height: 0.6rem;
}
.language-progress {
  height: 1rem;
}

.progress-bar {
  background-color: #ff6600 !important;
}
.animation-progress {
  margin-top: 80px;
  margin-bottom: 100px;
}

.animation-progress-bar {
  width: 100%;
  animation: load 10s linear 1.75s infinite;
  animation-delay: 2s;
}
@keyframes load {
  0% {
    width: 0%;
  }

  70% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.progress-text {
  font-family: "Muli", sans-serif;
  font-size: 22px;
  text-align: left;
  padding-left: 20px;
}

@media screen and (max-width: 770px) {
  .skils-col {
    flex: unset;
    width: 100% !important;
    display: block !important;
    max-width: unset;
  }
}

@media screen and (max-width: 450px) {
  .skills-title {
    font-size: 60px;
  }
}
