.volunteer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.volunteer-title {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 72px;
  color: #333;
  margin-bottom: 30px;
}
.quotes {
  text-align: center;
}
.volunteer-row {
  margin-top: 10px;
  margin-bottom: 50px;
}

.volunteer-name {
  font-family: "Trocchi", serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.volunteer-date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.volunteer-location {
  color: #ff6600;
  font-size: 15px;
  margin-bottom: 10px;
}

.volunteer-details {
  font-family: "Trocchi", serif;
  font-weight: normal;
  margin: 0;
  color: #333;
  font-family: "Muli", sans-serif;
  margin-bottom: 15px;
}

@media screen and (max-width: 450px) {
  .volunteer-title {
    font-size: 60px;
  }
}
