.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgb("", hexToRgb(blackColor), 0.87);
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb("", hexToRgb(blackColor), 0.14);
    position: "relative";
    display: "flex";
    flex-direction: column;
    min-width: 0;
    word-wrap: "break-word";
    font-size: 0.875rem;
    padding: 10px;
  }

  .cardHeader {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: none;
    background-color: #ff6600;
    color: white;
    z-index: 3 !important;
    margin: 0 15px;
    position: relative;
    border-radius: 6px;
    box-shadow: 10px 10px 5px grey;
  }
  
  .send-button-div {
    text-align: right;
    padding-right: 10px;
  }

  .send-button-div :hover {
    box-shadow: 0 14px 26px -12px #ff6600;
  }

  .sendButton {
    min-width: auto;
    min-height: auto;
    background-color: #ff6600;
    color: white;
    box-shadow: 0 2px 2px 0 gray;
    border: none;
    border-radius: 3px;
    left: 0;
    padding: 12px 30px;
    margin: 0.3125rem 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    line-height: 1.42857143;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
  }
  
  .btn {
    color: #ff6600;
    border-color: #ff6600;
  }
  
  .btn:hover{
    background-color:  #ff6600;
  }
  
  .formControl {
    padding-bottom: 10px;
    margin: 27px 0 0 0;
    position: relative;
    vertical-align: unset;
  }
  
  .labelRoot {
    font-family: '"Roboto", "Helvetica", "Arial", sans-serif';
    font-weight: 300;
    line-height: 1.5em;
    color: "#AAAAAA" !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: unset;
  }
  
  .input-form {
    background-color: transparent !important;
    margin-top: 16px;
    font-size: 10px !important;
    color: #00ff00 !important;
  }
  
  .underline ::before {
    border-color: red !important;
    border-width: 1px !important;
  }
  
  .underline ::after {
    border-color: burlywood !important;
    border-width: 1px !important;
  }
  